a{
    padding: 4px;
    margin-right: 20px;
    font-size: 20px;
    text-decoration:none ;
    border: solid 1px blue;
    color: blue;
}

.menu:hover{
    border: solid 1px blue;
    background-color: rgba(0, 0, 255, 0.822);
    color: white;
}

.title{
    color: salmon;
}